@use "sass:math";
@use "abstract" as *;


.hide-for-mobile {
    display: none;

    @include breakpoints-up("md") {
        display: block;
    }
}

.hide-for-desktop {
    display: block;

    @include breakpoints-up("md") {
        display: none;
    }
}

.cursor {
    cursor: pointer;
}

// some global animations {
.fade-in {
    animation: fade-in 300ms ease-in forwards;
}

.fade-out {
    animation: fade-out 300ms ease-out forwards;
}

//
.box-shadow {
    box-shadow: $base-box-shadows;
}