@use 'abstract' as *;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .nav__brand {
        .nav__brand-image {
            max-height: rem(35);
        }

        .nav__brand-name {
            font-weight: bold;
            color: darken($primary, 10%);
        }

    }


    .nav__toggle {
        cursor: pointer;
        height: rem(24);
        width: rem(24);
        position: relative;
        transition: background-color 1s ease-in-out;

        &:hover {
            .nav__burger-line {
                background-color: $primary;
            }
        }

        .nav__burger-line {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: rem(2.4);
            border-radius: rem(5);
            background-color: $dark-gray;
            transition: transform 0.5s, width 0.5s;
        }

        .nav__burger-line--1 {
            transform: translate(-50%, -7px);
        }

        .nav__burger-line--2 {
            width: 100%;
        }

        .nav__burger-line--3 {
            transform: translate(-50%, 5px);
        }

    }
}

// for mobile open menu 
.nav--open-menu {
    .nav__toggle--open {

        .nav__burger-line--1 {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        .nav__burger-line--2 {
            width: 0;
        }

        .nav__burger-line--3 {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

    .nav__links {
        display: flex;
        flex-flow: column;
        position: absolute;
        right: 50%;
        transform: translate;
        transform: translateX(50%);
        top: rem(80);
        background-color: $light;
        padding: rem(20);
        border-radius: 5px;
        width: rem(200);
        align-items: center;
        z-index: 3;

        .nav__link+.nav__link {
            margin-top: rem(16);
        }
    }
}